<div class="row">
  <div class="col-md-4">
    <h3>Signup </h3>
    <form (submit)="onSignup(f)" #f="ngForm">
      <label>Email</label>
      <input
        type="text"
        id="email"
        class="form-control"
        name="email"
        ngModel
        required
        #email="ngModel"
      >
      <label>Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        ngModel
        required
        #password="ngModel"
      >
      <br>
      <button class="btn btn-success" type="submit" [disabled]="f.invalid">Signup</button>
    </form>
  </div>
</div>
