<router-outlet></router-outlet>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-10"><h3>Manage Projects</h3></div>
            <div class="col-md-2">
              <a class="crud-add-link" routerLink="/add-project">Add Project</a>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects; let id = index;">
          <td><a class="a-action" title="View project" data-toggle="tooltip" [routerLink]="['project', project._id]">{{ project.title }}</a></td>
          <td>{{ project.content }}</td>
          <td>
            <a class="a-action" title="Edit" data-toggle="tooltip" [routerLink]="['edit', project._id]">Edit</a>|
            <a (click)="onDelete(project._id)" class="a-action" title="Delete" data-toggle="tooltip">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
